.cssGenerator{
    height: 70px;
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    box-shadow: inset 0px 0px 18px #bababa,
            inset 19px 19px 18px #ffffff;
}

.cssGenerator > p{
    margin-bottom: 0;
}

#copyCSS {
    width: 70px;
    background: none;
    border: none;
    box-shadow:  0px 0px 7px #bebebe,
             0px 0px 7px #ffffff;
            
    cursor: pointer;
}